{% extends "main_app/base.html" %}
{% block title %}
    Submissions
{% endblock %}

{% block content %}
    <h1> Отправка материалов </h1>
    {% if is_author %}
        <div class="cmp_notification">
            Нажмите <a class="alert-link"  href="{% url 'article-create' %}">cюда</a> для отправки материала.
        </div>
    {% elif user.is_authenticated %}
        <div class="cmp_notification">
            Чтобы отправить материалы вы должны стать нашим автором.
            <a class="alert-link" href="{% url 'login' %}">Войти</a> в систему или
            <a class="alert-link" href="{% url 'registration' %}">Зарегистрироваться.</a>
        </div>
    {% else %}
        <div class="cmp_notification">
            Для отправки материала вам нужно
            <a class="alert-link" href="{% url 'login' %}">Войти</a> в систему или
            <a class="alert-link" href="{% url 'registration' %}">Зарегистрироваться.</a>
        </div>
    {% endif %}
    {{ object.content | safe }}
{% endblock %}



