{% load i18n %}
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Генетическое Исследование' %}
    </a>
</p>
<div class="collapse" id="collapseExample3">
    <div class="card card-body">
        {{ GeneticResearch.as_p }}
    </div>
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample4" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Иммунологическое Исследование' %}
    </a>
</p>
<div class="collapse" id="collapseExample4">
    <div class="card card-body">
        {{ ImmunologicalResearch.as_p }}
    </div>
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample8" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Липидогамма' %}
    </a>
</p>
<div class="collapse" id="collapseExample8">
    {{ Pilidogram.as_p }}
</div>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample5" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Биохимическое ИК' %}
    </a>
</p>
<div class="collapse" id="collapseExample5">
    {{ BiochemicalBloodAnalysis.as_p }}
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Индекс массы тела' %}
    </a>
</p>
<div class="collapse" id="collapseExample1">
    {{ BodyMassIndex.as_p }}
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Эхокардиография' %}
    </a>
</p>
<div class="collapse" id="collapseExample2">
    <div class="card card-body">
        {{ Echocardiography.as_p }}
    </div>
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample6" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Коронарная ангиография' %}
    </a>
</p>
<div class="collapse" id="collapseExample6">
    {{ CoronaryAngiography.as_p }}
</div>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample7" role="button"
       aria-expanded="false" aria-controls="collapseExample">
        {% trans 'ЭКГ' %}
    </a>
</p>
<div class="collapse" id="collapseExample7">
    {{ ECG.as_p }}
</div>