{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %} Прогнозирование коронарной болезни сердца в зависимости от психоэмоционального
    состояния
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h2>Основная информация</h2>
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            {% if 1 < forloop.counter and forloop.counter < 4 %}
                                <p>
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% elif forloop.counter > 8 and forloop.counter < 11 %}
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% else %}
                                <div class="col-12"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <h2></h2>
                    <p class="h6">
                    <ul class="list-group">
                        {% for disease in object.get_disease_list %}
                            {% if disease %}
                                <li class="list-group-item list-group-item-danger">{{ disease }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for disease in object.echocardiography.get_disease_list %}
                            {% if disease %}
                                <li class="list-group-item list-group-item-danger">{{ disease }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for disease in object.immunologicalresearch.get_disease_list %}
                            {% if disease %}
                                <li class="list-group-item list-group-item-danger">{{ disease }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for disease in object.biochemicalbloodanalysis.get_disease_list %}
                            {% if disease %}
                                <li class="list-group-item list-group-item-danger">{{ disease }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for disease in object.pilidogram.get_disease_list %}
                            {% if disease %}
                                <li class="list-group-item list-group-item-danger">{{ disease }}</li>
                            {% endif %}
                        {% endfor %}
                        {% if object.bodymassindex.get_mass_disease %}
                            <li class="list-group-item list-group-item-danger">{{ object.bodymassindex.get_mass_disease }}</li>
                        {% endif %}
                        <li class="list-group-item list-group-item-danger">{{ object.ecg.get_field_display }}</li>
                        {% for result in surveys_result %}
                            <li class="list-group-item list-group-item-danger">{{ result }}</li>
                        {% endfor %}
                        {% if INSD %}
                            <li class="list-group-item list-group-item-danger">ИЧВД: {{ INSD }}</li>
                        {% endif %}
                        {% if PRI %}
                            <li class="list-group-item list-group-item-danger">РИБ: {{ PRI }}</li>
                        {% endif %}
                    </ul>
                    </p>
                </div>
            </div>
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Эхокардиография
                </a>
            </p>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    {{ Echocardiography.as_p }}
                </div>
            </div>


            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Генетическое Исследование
                </a>
            </p>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    {{ GeneticResearch.as_p }}
                </div>
            </div>
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample4" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Иммунологическое Исследование
                </a>
            </p>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    {{ ImmunologicalResearch.as_p }}
                </div>
            </div>
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Индекс массы тела
                </a>
            </p>
            <div class="collapse" id="collapseExample1">
                {{ BodyMassIndex.as_p }}
            </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample8" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Пилидограмма
                </a>
            </p>
            <div class="collapse" id="collapseExample8">
                {{ Pilidogram.as_p }}
            </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample5" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Биохимическое ИК
                </a>
            </p>
            <div class="collapse" id="collapseExample5">
                {{ BiochemicalBloodAnalysis.as_p }}
            </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample6" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Коронарная ангиография
                </a>
            </p>
            <div class="collapse" id="collapseExample6">
                {{ CoronaryAngiography.as_p }}
            </div>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample7" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    ЭКГ
                </a>
            </p>
            <div class="collapse" id="collapseExample7">
                {{ ECG.as_p }}
            </div>

            <button class="btn btn-dark" type="submit">{% trans "Изменить" %}</button>
        </form>
        <hr>

        <h2>Опросники</h2>
        {% for survey in surveys %}
            {% if survey.surveyquestion_set.first.has_multiple_choice %}
                <p>
                <a class="title"
                   href="{% url 'heart-disease-survey-multiple-choice' %}?question_id={{ survey.surveyquestion_set.first.pk }}">
                    {{ survey.name }}
                </a>
            </p>
            {% else %}
            <p>
                <a class="title"
                   href="{% url 'heart-disease-survey' %}?question_id={{ survey.surveyquestion_set.first.pk }}">
                    {{ survey.name }}
                </a>
            </p>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}