{% extends "main_app/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Прогнозирование коронарной болезни сердца в зависимости от психоэмоционального состояния' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="homepage_image">
            <img src="{% static 'images/medtool_poster.jpg' %}" alt/>
        </div>
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h2>{% trans 'Основная информация' %}</h2>
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            {% if forloop.counter < 3 %}
                                <p>
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% elif forloop.counter > 7 and forloop.counter < 10 %}
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% else %}
                                <div class="col-12"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'medtools/blocks/analisys_formset.html' %}

            <button class="btn btn-dark" type="submit">{% trans "Создать" %}</button>
        </form>
    </div>
{% endblock %}