{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %} Прогнозирование коронарной болезни сердца в зависимости от психоэмоционального
    состояния
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h2>Основная информация</h2>
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            {% if forloop.counter < 3 %}
                                <p>
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% elif forloop.counter > 7 and forloop.counter < 10 %}
                                <div class="col-6"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% else %}
                                <div class="col-12"><p>{{ field.label_tag }} {{ field }}</p></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'medtools/blocks/analisys_formset.html' %}

            <button class="btn btn-dark" type="submit">{% trans "Создать" %}</button>
        </form>
    </div>
{% endblock %}