{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Изменение статьи" %}
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h1> {% trans "Изменение статьи" %} </h1>
    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark" type="submit">{% trans "Изменить статью" %}</button>
        </form>
    </div>
    <div>
        {% if comments %}
            <h1>{% trans "Отзывы от рецензентов" %}</h1>
            {% for comment in comments %}
                <h3>{{ comment.reviewer.full_name }}</h3>
                <p>{{ comment.text|safe }}</p>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}