{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Архивы | Cardioresp" %}
{% endblock %}
{% block content %}
<div class="page page_issue_archive">


    <h1>{% trans "Выпуски" %}</h1>
    <h4>{% trans "Текущий выпуск" %}</h4>
    <ul class="issues_archive">

        <li>
            <div class="obj_issue_summary">
                <a class="title" href="{{ current_volume.get_absolute_url }}">
                    {{ current_volume }}
                </a>

                <div class="description"></div>
            </div>
        </li>
    </ul>
    {% if object_list %}
        <h4>{% trans "Предыдущие выпуски" %}</h4>
        <ul class="issues_archive">
            {% for object in object_list %}
                <li>
                    <div class="obj_issue_summary">
                        <a class="title" href="{{ object.get_absolute_url }}">
                            {{ object }}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


</div>
{% endblock %}