{% extends "main_app/base.html" %}
{% load static i18n %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}
    <div class="page page_issue">
        <img style="width: 150px; float: right ; padding-left: 0px" src="{{ object.qr.url }}" alt="qr-код">
        <h1>{{ object.title }}</h1>

        <div class="obj_issue_toc">
            <div class="heading">
                <div class="pub_id doi">

                    <span class="type"> DOI: </span>
                    <span class="id">
                                <a href="{{ object.doi }}"> {{ object.doi }} </a>
                            </span>

                </div>

                <div class="published">

                    <span class="label"> {% trans "Опубликован" %}: </span>
                    <span class="value"> {{ volume.published_date }} </span>

                </div>
                {% if volume.file %}
                    <div>
                        <a class="obj_galley_link pdf"
                           href="{% url "pdf-view-volume" volume.slug %}"> {% trans "Скачать" %} PDF </a>
                    </div>
                {% endif %}


            </div>

            <div class="sections">
                {% for section in article_section %}
                    <div class="section">

                        <ul class="cmp_article_list articles">

                            <h2>{{ section.title }}</h2>
                            {% for article in articles %}
                                {% if article.chapter == section %}
                                    <li>
                                        <div class="obj_article_summary">
                                            <div class="title">
                                                <a href="{{ article.get_absolute_url }}"> {{ article.title }} </a>
                                            </div>
                                            <hr>

                                            <div class="meta">
                                                <div class="authors">

                                                    {% for author in article.authors.all %}
                                                        {% if author == article.authors.last %}
                                                            {{ author }}
                                                        {% else %}
                                                            {{ author }},
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            <ul class="galleys_links">
                                                <li>
                                                    <a class="obj_galley_link pdf"
                                                       href="{% url "pdf-view" article.slug %}"> {% trans "Скачать" %}
                                                        PDF </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>

                    </div>
                {% endfor %}
            </div>
            <!-- .sections -->
        </div>
    </div>
{% endblock %}
