{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "UJCR|Вход" %}
{% endblock %}
{% block content %}
    <div class="page page_login">
        <h1>{% trans "Войти в систему" %}</h1>

        <form class="cmp_form cmp_form login" id="login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <button class="submit" type="submit">
                    {% trans "Войти в систему" %}
                </button>

                <a href="{% url 'registration' %}" class="register">
                    {% trans "Регистрация" %}
                </a>
            </div>
        </form>
        <p><a href="{% url "password_reset" %}">{% trans "Забыли пароль?" %}</a></p>
    </div>
{% endblock %}