{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %}{% trans "Регистрация|UJCR" %}{% endblock %}
{% block content %}
    <div class="page page_register">
        <h1>{% trans "Регистрация" %}</h1>

        <form class="cmp_form register" id="register" method="post">
            {% csrf_token %}

            {% for i in form %}
                <label for="">{{ i.label }}</label>
                <p>{{ i }}</p>

                {% for error in i.errors %}
                    <p>
                        <span style="color: #e50101">{{ error }}*</span>
                    </p>
                {% endfor %}

            {% endfor %}
            <div class="buttons">
                <button class="submit" type="submit">{% trans "Регистрация" %}</button>

                <a href="{% url 'login' %}" class="login">{% trans "Войти в систему" %}</a>
            </div>
        </form>
    </div>
    <!-- .page -->
{% endblock %}
